/* LayerMenu.css */
.layer-menu {
    position: absolute;
    bottom: 0; /* Positions the menu at the bottom */
    left: 0;
    width: 100%; /* Full width of the screen */
    height: 20vh; /* Takes up 20% of the viewport height */
    background-color: #000000;
    font-size: 1rem;
    padding: 10px 20px; /* Padding adjusted for buttons */
    border-top: 2px solid #cccccc;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    color: goldenrod;
    display: flex;
    justify-content: space-around; /* Distributes buttons evenly */
    align-items: center; /* Centers buttons vertically */
    border-radius: 8px;
    box-shadow: 0.1px 0.1px 0.1px 0.1px gray;
}

.layer-item {
    padding: 10px 15px;
    margin: 0 10px; /* Space between buttons */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Rounded corners for buttons */
    text-align: center;
    flex-grow: 1; /* Makes each button take equal space */
}

.layer-item:hover {
    background-color: #f0f0f0;
}

.layer-item.selected {
    background-color: #ffae00;
    border: 2px solid #9dff00;
    color: white;
    transition: 0.2s ease-in-out;
}
