

#screenshot-area {
  background-color: #282828;
  background: radial-gradient(
      circle,
      rgba(40, 40, 40, 1) 0%,       /* Center color */
      rgba(30, 30, 30, 1) 80%       /* Edge color for subtle darkening */
  );
  background-blend-mode: multiply;  /* To keep the effect subtle */
  width: 100%;                      /* Adjust based on your container */
  height: 100%;                     /* Adjust based on your container */
  display: flex;
  align-items: center;
  justify-content: center;
}


  @media (max-width: 768px) { /* Adjust this breakpoint as needed */
    #screenshot-area {
      height: 70vh; /* Set height to 70vh on mobile */
    }
  }